.more {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.more .figure {
  position: absolute;
  bottom: 80%;
  right: 0;
  color: white;
  font-size: 14px;
  font-weight: 900;
  background: #c8ad78;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}
.more .menu {
  font-size: 30px;
  color: black;
}
